# Neovim
.netrwhist
Session.vim
swap/*
*.swp
*.swo
*.un~
tags

# OS
.DS_Store
Thumbs.db

# Only for config repo rooted at nvim/
# Ignore accidental junk
*.log
.cache/
node_modules/
plugin/packer_compiled.lua

